.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

body {
    margin: 0%;
    font-family: 'mooli', sans-serif;
}
.main-login{
    width: 100vw;
    height: 100vh;
    background-color: #1a1524;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    font-size: 3vw;
color: #8ad0ec;
}

.left-login-image{
width: 35vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
    padding: 30px 35px ;
    background: #38677a ;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h3{
    font-weight: 5000;
    margin: 0 ;
    
}
.textfield {
    width: 100%;
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield >input{
    width: 150px;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color:#f0ffffde ;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
}
.textfield > label{
    color: #f0ffffde ;
    margin-bottom:10px ;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.btn-login{
    width: 150px;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing:2px ;
    color: #8ad0ec;
    background: #000;
    cursor: pointer;
}